@import 'App.scss';

/* Desktop */
/* index.js */
.food-container {
    min-height: calc(100vh - 9.90em);
}
.food-header-container {
    position: relative;
    text-align: center;
    color: white;
}
.food-header-img {
    width: 100%;
    height: 17em;
    object-fit: cover;
    filter: brightness(95%);
    transition: ease all .75s;
}
.food-header-title {
    position: absolute;
    bottom: 0;
    left: 0.25em;
    font-weight: bold;
    font-size: 8em;
    letter-spacing: .1em;
    text-shadow: 5px 5px rgba(0,0,0,.1);
    transition: ease font-size .75s;
}
.food-content-container {
    display: grid;
    grid-template-columns: 5.938em auto 5.938em;
    padding-bottom: 5.938em;
}
.food-content-container-inner{
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 0fr));
    grid-gap: 1em;
}
/* Recipes.js */
.foodcard-card {
    border-radius: 4% !important;
    &:hover {
        transform: scale(1.02) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        transition-duration: .5s !important;
    }
}
.recipes-no-search-results {
    padding-top: 2em;
    font-size: 2em;
}
/* RecipeDetails.js */
.recipedetails-container {
    padding: 0 5.938em 5.938em 5.938em;
}
.recipedetails-title {
    font-size: 3em;
    font-weight: bold;
}
/* FoodAppBar.js */
.food-app-bar-container {
    padding-left: 5.938em;
}
.food-app-bar-header {
    font-size: 2em;
}
.food-app-bar-tags {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
}
.food-app-bar-buttons {
    padding: 0 1em;
    margin: 0 1em 0.75em 1em;
    background-color: #d3d3d3;
    border-radius: 10em;
    cursor: pointer;
    &:hover {
        background-color: #e0e0e0;
    }
}
.food-app-bar-buttons-image {
    height: 0.75em;
    width: 0.75em;
}

/* Tablet */
@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .food-container {
        min-height: calc(100vh - 10.8em);
    }
    .food-header-img {
        height: 15em;
        object-position: 25% 50%;
    }
    .food-header-title {
        font-size: 6em;
    }
    .food-content-container {
        grid-template-columns: 1.250em auto 1.250em;
        padding-bottom: 1.250em;
    }
    .food-content-container-inner{
        grid-template-columns: auto auto;
        grid-gap: 1em;
    }
    .recipes-no-search-results {
        font-size: 1.5em;
    }
    .food-app-bar-container {
        padding-left: 1.250em;
    }
    .food-app-bar-buttons {
        margin: 0 0.75em 0.75em 0.75em;
    }
}

/* Mobile */
@media screen and (max-width: $max-mobile) {
    .food-container {
        min-height: calc(100vh - 18.2em);
    }
    .food-header-img {
        height: 10em;
        object-position: 10% 50%;
    }
    .food-header-title {
        font-size: 5em;
    }
    .food-content-container {
        grid-template-columns: 0.875em auto 0.875em;
        padding-bottom: 0.875em;
    }
    .food-content-container-inner{
        grid-template-columns: auto;
        grid-gap: 0.875em;
    }
    .recipes-no-search-results {
        font-size: 0.875em;
    }
    .food-app-bar-container {
        padding-left: 0.875em;
    }
    .food-app-bar-header {
        font-size: 1.5em;
    }
    .food-app-bar-buttons {
        font-size: 0.875em;
        margin: 0 0.5em 0.5em 0.5em;
    }
}