@import 'App.scss';

/* Desktop */
.header-container {
    display: flex;
    justify-content: flex-end;
    padding: 2em 5.938em;
    transition: ease all .75s;
}
.headeritem-container {
    margin: 0 1em;
    font-size: 1.063em;
    transition: ease all .75s;
}
.headeritem-text {
    text-decoration: initial;
    color: initial;
    &:hover {
        opacity: .5;
        cursor: default;
        &:not(#ddp) {
            cursor: pointer;
        }
    }
}
.headeritem-dropdown-text {
    padding: 0.5em 1em;
    &:hover {
        color: rgba(0, 0, 0, 0.5);
    }
}
.headeritem-border {
    border-top: 1px solid #DCDCDC;
}
.headeritem-icon {
    padding-left: 0.375em;
    width: 0.75em;
    height: 0.75em;
}
.headeritem-dropdown {
    padding: .25em 0 !important;
    width: 10.938em !important;
    font-size: 1.063em !important;
    pointer-events: auto !important;
    background-color: white !important;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15),
        0 5px 15px rgba(0,0,0,.1) !important;
    opacity: 1 !important;
    &:after {
        border-bottom-color: white !important;
    }
    &:hover {
        visibility: visible !important;
    }
    &:hover + #ddp {
        opacity: .5;
    }
}

/* Tablet */
@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .header-container {
        padding: 2em 1.250em;
    }
    .headeritem-container {
        margin: 0 .625em;
        font-size: 1em;
    }
}

/* Mobile */
@media screen and (max-width: $max-mobile) {
    .header-container {
        padding: 2em 0.75em;
    }
    .headeritem-container {
        margin: 0 .5em;
        font-size: 0.875em;
    }
}